<div class="widget">
<table width="100%">
  <tr>
    <td valign="top" width="48%" nowrap>
      <div class="dashbox">
          <h3>Lines of code</h3>

            <p><span class="big">
            123</span></p>
            <p>+test</p>
        </div>
    </td>
    <td width="10"> </td>
    <td valign="top">
      <div class="dashbox">
            <h3>Classes</h3>
            <p><span class="big">saeadadfadfadfadf</span></p>


          <p>ooooooooooo</p>

          <p>oosadfad </p>

          <p>icon</p>
        </div>
    </td>
  </tr>
</table>
</div>
