<div class="widget">
<table width="100%">
  <tr>
    <td valign="top" width="48%" nowrap>
    <%= my_tooltip "关于", { :tooltip =>'有关some keywords to categorize your data and help in future searches'},:class =>'mytooltip' %>
    </td>
  </tr>
  <tr>
    <td valign="top" width="48%" nowrap>
      <div class="dashbox">
          <h3>Lines of code</h3>

            <p><span class="big">
            123</span></p>
            <p>+test</p>
        </div>
    </td>
    <td width="10"> </td>
    <td valign="top">
      <div class="dashbox">
            <h3>Classes</h3>
            <p><span class="big">saeadadfadfadfadf</span></p>


          <p>ooooooooooo</p>

          <p>oosadfad </p>

          <p>icon</p>
        </div>
    </td>

    <td valign="top">
      <div class="dashbox" id="cmp_charts" style="float:right">
  <script type='text/javascript'>
    //<![CDATA[
    function selectComplexity(metric) {
      $$('#cmp_charts .chart').each(function(chart) {
        chart.hide();
      });
      $('chart_' + metric).show();
    }
  </script>
  <style>
    #cmp_charts form {
    font-size: 93%;padding-left: 30px;
    }
  #cmp_charts form label {
    padding-right: 5px;
    }
  </style>
    <%= render :partial => 'complexity_chart' %>

    </td>
  </tr>
</table>
</div>
